/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #105a8f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/Century Gothic/Century Gothic.eot");
  src: url("../fonts/Century Gothic/Century Gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/Century Gothic/Century Gothic.woff") format("woff"), url("../fonts/Century Gothic/Century Gothic.ttf") format("truetype"), url("../fonts/Century Gothic/Century Gothic.otf") format("opentype"), url("../fonts/Century Gothic/Century Gothic.svg#Century Gothic") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F003; }

@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/Arial Narrow/Arial Narrow Bold.eot");
  src: url("../fonts/Arial Narrow/Arial Narrow Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial Narrow/Arial Narrow Bold.woff") format("woff"), url("../fonts/Arial Narrow/Arial Narrow Bold.ttf") format("truetype"), url("../fonts/Arial Narrow/Arial Narrow Bold.otf") format("opentype"), url("../fonts/Arial Narrow/Arial Narrow Bold.svg#Arial Narrow Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-F003; }

/* grid Bootstrap v3.3.7 */
.row {
  width: 100%;
  margin: 0;
  padding: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

/*
================================================================================
|                                     main styles                              |
================================================================================
*/
.main-wrapper {
  padding: 0;
  min-width: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%; }

.wrapper {
  min-width: 400px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-family: Arial, sans-serif;
  font-weight: 400; }

h2 {
  font-size: 31px;
  line-height: 35px;
  color: #000;
  font-family: Arial, sans-serif;
  font-weight: 400; }

h3 {
  font-size: 15px;
  line-height: 20px;
  color: #000;
  font-family: Arial, sans-serif;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

.hidden {
  display: none; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  text-align: left;
  margin: 0 auto;
  padding: 6px 0 45px;
  background-color: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #fff 45%, #e9e9e9 70%, #fff 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #fff 45%, #e9e9e9 70%, #fff 100%);
  background: -o-linear-gradient(top, #fff 0%, #fff 45%, #e9e9e9 70%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(45%, #fff), color-stop(70%, #e9e9e9), to(#fff));
  background: linear-gradient(to bottom, #fff 0%, #fff 45%, #e9e9e9 70%, #fff 100%); }
  header .box-field {
    position: relative;
    margin-top: 15px; }
    header .box-field--skew {
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      transform: skew(-20deg); }
    header .box-field__input {
      display: inline-block;
      vertical-align: top;
      -webkit-border-radius: 5px 0;
              border-radius: 5px 0; }
    header .box-field__input:nth-child(1) {
      width: 312px;
      border: 1px solid #c4c4c4;
      -webkit-box-shadow: inset 1px 2px 0 rgba(4, 5, 5, 0.08);
              box-shadow: inset 1px 2px 0 rgba(4, 5, 5, 0.08); }
    header .box-field__input:nth-child(2) {
      position: absolute;
      top: 3px;
      left: 264px;
      width: 45px;
      height: 19px;
      border: 1px solid #e4e4e4;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(37%, #eceded), to(#ffffff));
      background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #eceded 37%, #ffffff 100%);
      background-image: -moz-linear-gradient(bottom, #ffffff 0%, #eceded 37%, #ffffff 100%);
      background-image: -o-linear-gradient(bottom, #ffffff 0%, #eceded 37%, #ffffff 100%);
      background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%); }
  header input[type=search] {
    width: 100%;
    height: 23px;
    padding: 0 60px 0 7px;
    font-size: 15px;
    font-style: italic;
    line-height: 81px;
    background-color: transparent;
    border: none;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg); }
  header .label-subm {
    position: absolute;
    top: 4px;
    left: 12px;
    background-position: center;
    width: 19px;
    height: 12px;
    background-color: transparent;
    background: url(../img/header/sprite_header.png) -76px -30px no-repeat;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg); }
    header .label-subm:hover {
      cursor: pointer; }

.button {
  display: inline-block;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.2px;
  padding: 5px 5px 5px 10px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 5px 0;
          border-radius: 5px 0;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(37%, #eceded), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #eceded 37%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff 0%, #eceded 37%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #ffffff 0%, #eceded 37%, #ffffff 100%);
  background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
  text-decoration: none;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg); }
  .button span {
    display: inline-block;
    vertical-align: top;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg); }
  .button span:nth-child(1) {
    margin-top: -1px;
    border-bottom: 1px solid #105a8f;
    text-decoration: none; }
  .button span:nth-child(2) {
    font-size: 22px; }
  .button:hover {
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 3px 0px #689cbe;
            box-shadow: 3px 3px 3px 0px #689cbe; }
    .button:hover span:nth-child(1) {
      border-bottom: 1px dashed transparent; }

.header__logo {
  padding-left: 3px; }

.header__search-phone {
  padding: 13px 0 0 35px; }

.header__phone {
  padding-left: 12px;
  font-size: 23px;
  font-weight: 400;
  font-style: italic;
  line-height: 21px;
  letter-spacing: -0.6px; }
  .header__phone span b {
    font-size: 34px; }
  .header__phone a {
    position: relative;
    top: -16px;
    margin-left: 6px;
    font-size: 13px;
    letter-spacing: -0.4px;
    border-bottom: 1px dashed #105a8f;
    text-decoration: none; }

.header__support {
  margin-left: -15px;
  padding: 3px 0 0 0; }

.header__basket-login {
  padding: 7px 2px 0 0;
  text-align: right;
  float: right; }
  .header__basket-login .login {
    letter-spacing: -0.05px; }
    .header__basket-login .login a {
      position: relative;
      border-bottom: 1px dashed #105a8f;
      text-decoration: none; }
      .header__basket-login .login a::before {
        content: '';
        position: absolute;
        top: -3px;
        left: -23px;
        width: 19px;
        height: 18px;
        background: url(../img/header/sprite_header.png) -5px -53px no-repeat; }

.support-button {
  position: relative;
  display: block;
  width: 87px;
  height: 88px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #6cbe68;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), color-stop(42%, #ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #e0e0e0 0%, #ffffff 42%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #e0e0e0 0%, #ffffff 42%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #e0e0e0 0%, #ffffff 42%, #ffffff 100%);
  background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 42%, #ffffff 100%);
  color: #333;
  line-height: 14px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  padding-top: 55px; }
  .support-button:hover {
    -webkit-box-shadow: 0 0 7px 1px #6cbe68;
            box-shadow: 0 0 7px 1px #6cbe68; }
  .support-button::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 9px;
    height: 9px;
    background: url(../img/header/sprite_header.png) -5px -30px no-repeat; }
  .support-button img {
    display: block;
    position: absolute;
    top: -6px; }

.anim-blink {
  -webkit-animation: blink 4s linear infinite;
     -moz-animation: blink 4s linear infinite;
       -o-animation: blink 4s linear infinite;
          animation: blink 4s linear infinite; }

.basket-button {
  position: relative;
  display: block;
  float: right;
  width: 209px;
  height: 56px;
  margin-top: 15px;
  padding: 16px 38px 0 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #cecdcd;
  background-color: #fff;
  text-decoration: none; }
  .basket-button__icon {
    position: absolute;
    top: 7px;
    left: 16px;
    display: inline-block;
    width: 38px;
    height: 38px;
    background: url(../img/header/sprite_header.png) -28px -5px no-repeat;
    z-index: 1; }
    .basket-button__icon::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 13px;
      width: 19px;
      height: 19px;
      border: 1px solid #cecdcd;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #175b8e;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), color-stop(11%, #d7d6d6), color-stop(26%, #dbdbdb), to(#ffffff));
      background-image: -webkit-linear-gradient(bottom, #f6f6f6 0%, #d7d6d6 11%, #dbdbdb 26%, #ffffff 100%);
      background-image: -moz-linear-gradient(bottom, #f6f6f6 0%, #d7d6d6 11%, #dbdbdb 26%, #ffffff 100%);
      background-image: -o-linear-gradient(bottom, #f6f6f6 0%, #d7d6d6 11%, #dbdbdb 26%, #ffffff 100%);
      background-image: linear-gradient(to top, #f6f6f6 0%, #d7d6d6 11%, #dbdbdb 26%, #ffffff 100%); }
  .basket-button__count {
    position: absolute;
    top: 6px;
    left: 33px;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    line-height: 18px;
    color: #d10000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
    z-index: 2; }
  .basket-button__text {
    font-size: 23px;
    font-weight: 900;
    font-style: italic;
    line-height: 18px;
    letter-spacing: -0.4px;
    text-decoration: underline;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
    vertical-align: top; }
    .basket-button__text::before {
      content: '';
      position: absolute;
      top: 23px;
      right: 12px;
      width: 13px;
      height: 11px;
      background: url(../img/header/sprite_header.png) -5px -5px no-repeat; }

/* nav */
.nav {
  margin-top: 15px; }

.nav-list__item {
  position: relative;
  display: inline-block;
  padding: 0 6px 0 3px; }
  .nav-list__item:nth-child(6) a {
    padding-left: 16px; }
    .nav-list__item:nth-child(6) a::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 1px;
      width: 15px;
      height: 15px;
      background: url(../img/header/sprite_header.png) -76px -5px no-repeat;
      cursor: pointer; }

/* style placeholder */
input::-webkit-input-placeholder {
  color: #999; }

input::-moz-placeholder {
  color: #999; }

input:-moz-placeholder {
  color: #999; }

input:-ms-input-placeholder {
  color: #999; }

/* media header */
@media screen and (max-width: 1100px) {
  .header__support {
    padding-left: 38px; } }

@media screen and (max-width: 1000px) {
  .header__basket-login {
    padding-right: 4px; }
  .header__support {
    padding-left: 78px; } }

@media screen and (max-width: 991px) {
  .header__search-phone {
    padding-left: 75px; }
  .header__support {
    display: none; }
  .header__basket-login {
    padding: 12px 0 0 0; }
    .header__basket-login .login {
      text-align: center; }
      .header__basket-login .login span:last-child {
        display: none; }
  .basket-button {
    margin-top: 10px;
    -webkit-transform: scale(0.85) translateX(15px);
       -moz-transform: scale(0.85) translateX(15px);
        -ms-transform: scale(0.85) translateX(15px);
         -o-transform: scale(0.85) translateX(15px);
            transform: scale(0.85) translateX(15px); }
  .nav-list__item {
    padding: 0 2px 0 3px; } }

@media screen and (max-width: 767px) {
  header {
    padding: 0 0 22px; }
    header .box-field__input:nth-child(1) {
      width: 232px; }
    header .box-field__input:nth-child(2) {
      left: 184px; }
    header .wrapper {
      padding: 0 5px; }
  .wrapper {
    padding: 0 7px; }
  .nav {
    display: none; }
  .header__logo {
    padding-left: 0;
    margin-left: -14px;
    -webkit-transform: scale(0.713);
       -moz-transform: scale(0.713);
        -ms-transform: scale(0.713);
         -o-transform: scale(0.713);
            transform: scale(0.713); }
  .header__search-phone {
    padding: 15px 0 0 28px; }
  .header__phone {
    font-size: 20px;
    line-height: 10px; }
    .header__phone span b {
      font-size: 20px;
      font-weight: 400; }
    .header__phone a {
      top: -5px; }
  .box-form {
    padding-left: 10px; }
  .login {
    padding-left: 20%; }
  .basket-button {
    margin-top: -2px;
    -webkit-transform: scale(0.558) translateX(68px);
       -moz-transform: scale(0.558) translateX(68px);
        -ms-transform: scale(0.558) translateX(68px);
         -o-transform: scale(0.558) translateX(68px);
            transform: scale(0.558) translateX(68px); } }

@media screen and (max-width: 600px) {
  .login {
    padding-left: 0px; } }

@media screen and (max-width: 588px) {
  .header__phone {
    text-align: center;
    padding-top: 5px; }
    .header__phone a {
      display: inline-block;
      margin-top: 20px; }
  .box-form {
    display: none; } }

/*
================================================================================
|                                     MENU                                     |
================================================================================
*/
.menu {
  position: relative;
  top: -25px;
  padding-bottom: 10px;
  max-height: 66px; }

.menu-list {
  width: 100%;
  height: 56px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #246188;
  background-color: #0c5d92;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5497c3), color-stop(0%, #5497c3), color-stop(5%, #0e639a), color-stop(16%, #044977), color-stop(60%, #0c5c8f), color-stop(97%, #186ca3), to(#7dafcf));
  background-image: -webkit-linear-gradient(bottom, #5497c3 0%, #5497c3 0%, #0e639a 5%, #044977 16%, #0c5c8f 60%, #186ca3 97%, #7dafcf 100%);
  background-image: -moz-linear-gradient(bottom, #5497c3 0%, #5497c3 0%, #0e639a 5%, #044977 16%, #0c5c8f 60%, #186ca3 97%, #7dafcf 100%);
  background-image: -o-linear-gradient(bottom, #5497c3 0%, #5497c3 0%, #0e639a 5%, #044977 16%, #0c5c8f 60%, #186ca3 97%, #7dafcf 100%);
  background-image: linear-gradient(to top, #5497c3 0%, #5497c3 0%, #0e639a 5%, #044977 16%, #0c5c8f 60%, #186ca3 97%, #7dafcf 100%); }
  .menu-list__item {
    position: relative;
    display: inline-block;
    width: 16.6666667%;
    border-right: 2px groove #337aa8;
    float: left;
    z-index: 9; }
    .menu-list__item:last-child {
      border: none; }
    .menu-list__item:hover {
      -webkit-box-shadow: 5px 0px 10px #050606;
              box-shadow: 5px 0px 10px #050606; }
    .menu-list__item:hover .menu-list__link {
      color: #105a8f;
      -webkit-border-top-left-radius: 5px;
              border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
              border-top-right-radius: 5px;
      background-color: #ffffff;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.3)), color-stop(40%, rgba(185, 185, 185, 0.3)), color-stop(95%, rgba(245, 244, 244, 0.3)), to(#ffffff));
      background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
      background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
      background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
      -webkit-box-shadow: 0 10px 0 0 #ffffff, 0 0 0 5px #689cbe;
              box-shadow: 0 10px 0 0 #ffffff, 0 0 0 5px #689cbe;
      text-decoration: underline;
      margin-bottom: 5px; }
      .menu-list__item:hover .menu-list__link::before {
        background: url(../img/header/sprite_header.png) -5px -5px no-repeat; }
    .menu-list__item:hover .drop-menu {
      display: block; }
    .menu-list__item:nth-child(1):hover .drop-menu {
      -webkit-border-top-left-radius: 0px;
              border-top-left-radius: 0px;
      left: -5px; }
    .menu-list__item:nth-child(2):hover .drop-menu {
      left: -102%; }
    .menu-list__item:nth-child(3):hover .drop-menu {
      left: -203%; }
    .menu-list__item:nth-child(4):hover, .menu-list__item:nth-child(5):hover, .menu-list__item:nth-child(6):hover {
      -webkit-box-shadow: -5px 0px 10px rgba(5, 6, 6, 0.5);
              box-shadow: -5px 0px 10px rgba(5, 6, 6, 0.5); }
    .menu-list__item:nth-child(4):hover .drop-menu,
    .menu-list__item:nth-child(5):hover .drop-menu,
    .menu-list__item:nth-child(6):hover .drop-menu {
      -webkit-box-shadow: -5px 9px 10px rgba(5, 6, 6, 0.5);
              box-shadow: -5px 9px 10px rgba(5, 6, 6, 0.5); }
    .menu-list__item:nth-child(4):hover .drop-menu {
      right: -203%; }
    .menu-list__item:nth-child(5):hover .drop-menu {
      right: -102%; }
    .menu-list__item:nth-child(6):hover .drop-menu {
      right: -5px;
      -webkit-border-top-right-radius: 0px;
              border-top-right-radius: 0px; }
    .menu-list__item--mobile {
      display: none;
      vertical-align: top;
      padding: 4px 10px; }
      .menu-list__item--mobile:last-child {
        float: right; }
  .menu-list__link {
    position: relative;
    display: block;
    padding: 8px 35px 8px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
    z-index: 11; }
    .menu-list__link::before {
      content: '';
      position: absolute;
      top: 21px;
      right: 10px;
      width: 13px;
      height: 11px;
      background: url(../img/header/sprite_header.png) -34px -53px no-repeat; }
    .menu-list__link:hover ~ .drop-menu {
      display: block; }
  .menu-list__button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 25px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #0c4871;
    background-color: #ffffff;
    z-index: 99; }
    .menu-list__button span {
      position: relative;
      display: block;
      width: 17px;
      height: 3px;
      background-color: #a9a9a9;
      margin: 10px 5px; }
      .menu-list__button span::before, .menu-list__button span::after {
        content: '';
        position: absolute;
        width: 17px;
        height: 3px;
        background-color: #a9a9a9; }
      .menu-list__button span::before {
        top: -5px; }
      .menu-list__button span::after {
        top: 5px; }
    .menu-list__button.active span {
      background-color: transparent; }
      .menu-list__button.active span::before, .menu-list__button.active span::after {
        left: -5px; }
      .menu-list__button.active span::before {
        -webkit-transform: rotate(45deg) translateX(7px);
           -moz-transform: rotate(45deg) translateX(7px);
            -ms-transform: rotate(45deg) translateX(7px);
             -o-transform: rotate(45deg) translateX(7px);
                transform: rotate(45deg) translateX(7px); }
      .menu-list__button.active span::after {
        -webkit-transform: rotate(-45deg) translateX(7px);
           -moz-transform: rotate(-45deg) translateX(7px);
            -ms-transform: rotate(-45deg) translateX(7px);
             -o-transform: rotate(-45deg) translateX(7px);
                transform: rotate(-45deg) translateX(7px); }

.drop-menu {
  display: none;
  position: absolute;
  top: 56px;
  width: 855px;
  height: 310px;
  padding: 16px 40px;
  -webkit-box-shadow: 5px 9px 10px rgba(5, 6, 6, 0.5);
          box-shadow: 5px 9px 10px rgba(5, 6, 6, 0.5);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 5px solid #689cbe;
  background-color: #ffffff;
  z-index: 10; }
  .drop-menu__column {
    display: block;
    vertical-align: top;
    float: left;
    width: 25%;
    padding: 0 0 0 27px; }
    .drop-menu__column:nth-child(2) {
      margin-left: 11px; }
    .drop-menu__column:last-child {
      margin-left: -11px;
      padding: 0 27px 0 27px; }

.column-title a {
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px; }

.column-list {
  margin-top: 10px; }
  .column-list__item a {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px; }
    .column-list__item a:hover {
      color: #d10000; }

#menu-select {
  width: 300px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px; }

/* media menu */
@media screen and (max-width: 1100px) {
  .menu-list__link {
    padding: 8px 15px 8px 10px; } }

@media screen and (max-width: 1000px) {
  .drop-menu__column:nth-child(2) {
    margin-left: 0; } }

@media screen and (max-width: 991px) {
  .menu-list {
    height: 36px; }
    .menu-list__link {
      display: none; }
    .menu-list__item {
      position: static; }
      .menu-list__item:nth-child(1):hover .drop-menu,
      .menu-list__item:nth-child(2):hover .drop-menu,
      .menu-list__item:nth-child(3):hover .drop-menu,
      .menu-list__item:nth-child(4):hover .drop-menu,
      .menu-list__item:nth-child(5):hover .drop-menu,
      .menu-list__item:nth-child(6):hover .drop-menu {
        top: -8px;
        left: 15px;
        -webkit-box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5);
                box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5); }
    .menu-list__item--mobile {
      display: inline-block; }
  .drop-menu {
    top: -8px;
    left: 15px;
    width: 97%;
    padding: 16px;
    -webkit-box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5);
            box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5); } }

@media screen and (max-width: 850px) {
  .drop-menu {
    width: 96.5%; } }

@media screen and (max-width: 767px) {
  .menu-list__item:nth-child(1):hover .drop-menu,
  .menu-list__item:nth-child(2):hover .drop-menu,
  .menu-list__item:nth-child(3):hover .drop-menu,
  .menu-list__item:nth-child(4):hover .drop-menu,
  .menu-list__item:nth-child(5):hover .drop-menu,
  .menu-list__item:nth-child(6):hover .drop-menu {
    top: -5px;
    left: 7px;
    -webkit-box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5);
            box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5); }
  .drop-menu {
    top: -5px;
    left: 7px;
    width: 98.1333%; } }

@media screen and (max-width: 670px) {
  .drop-menu {
    left: 7px;
    width: 97.8333%; }
    .drop-menu__column {
      padding-left: 12px; } }

@media screen and (max-width: 600px) {
  .drop-menu {
    width: 97.5999%; } }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  position: relative;
  width: 100%;
  margin-top: -5px; }

.box-promo {
  position: relative;
  border: 7px solid #689cbe;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .box-promo__img {
    width: 500%; }
  .box-promo__toogle {
    position: absolute;
    left: 0;
    bottom: -27px; }
  .box-promo .toogle__item {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 27px;
    padding-top: 7px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
    background-color: #689cbe;
    text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px; }
    .box-promo .toogle__item:hover {
      color: #d10000;
      background-color: #ffffff;
      border: 2px solid #689cbe;
      border-top: none;
      cursor: pointer; }
    .box-promo .toogle__item.active {
      color: #d10000;
      background-color: #ffffff;
      border: 2px solid #689cbe;
      border-top: none; }

.box-promo__input:nth-child(1):checked ~ .box-promo__img {
  margin-left: 0; }

.box-promo__input:nth-child(2):checked ~ .box-promo__img {
  margin-left: -100%; }

.box-promo__input:nth-child(3):checked ~ .box-promo__img {
  margin-left: -200%; }

.box-promo__input:nth-child(4):checked ~ .box-promo__img {
  margin-left: -300%; }

.box-promo__input:nth-child(5):checked ~ .box-promo__img {
  margin-left: -400%; }

.box-promo__input:nth-child(1):checked ~ .box-promo__img,
.box-promo__input:nth-child(2):checked ~ .box-promo__img,
.box-promo__input:nth-child(3):checked ~ .box-promo__img,
.box-promo__input:nth-child(4):checked ~ .box-promo__img,
.box-promo__input:nth-child(5):checked ~ .box-promo__img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

.overflow-wrap {
  overflow: hidden; }

.img__item {
  display: block;
  float: left;
  width: 20%;
  height: 228px;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center; }
  .img__item:nth-child(1) {
    background-image: url(../img/promp-shares/img-promo_1.jpg); }
  .img__item:nth-child(2) {
    background-image: url(../img/promp-shares/img-promo_1.jpg); }
  .img__item:nth-child(3) {
    background-image: url(../img/promp-shares/img-promo_1.jpg); }
  .img__item:nth-child(4) {
    background-image: url(../img/promp-shares/img-promo_1.jpg); }
  .img__item:nth-child(5) {
    background-image: url(../img/promp-shares/img-promo_1.jpg); }

.descript {
  width: 55%;
  padding: 10px 0 0 35px;
  font-family: "Century Gothic", sans-serif; }
  .descript__title {
    color: #6640c7;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -1px; }
  .descript__text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 5px 95px 10px 2px;
    letter-spacing: -0.35px; }
  .descript__button {
    display: inline-block;
    padding: 15px 25px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #686868;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
    background: -moz-linear-gradient(350deg, #b00dd8 0%, #ad12dd 40%, #8055d9 60%, #37a7d3 80%, #16c7d2 95%, #16c7d2 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b00dd8), color-stop(40%, #ad12dd), color-stop(60%, #8055d9), color-stop(80%, #37a7d3), color-stop(95%, #16c7d2), color-stop(100%, #16c7d2));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(350deg, #b00dd8 0%, #ad12dd 40%, #8055d9 60%, #37a7d3 80%, #16c7d2 95%, #16c7d2 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(350deg, #b00dd8 0%, #ad12dd 40%, #8055d9 60%, #37a7d3 80%, #16c7d2 95%, #16c7d2 100%);
    /* opera 11.10+ */
    /* ie10+ */
    background: -webkit-linear-gradient(100deg, #b00dd8 0%, #ad12dd 40%, #8055d9 60%, #37a7d3 80%, #16c7d2 95%, #16c7d2 100%);
    background: -moz-linear-gradient(100deg, #b00dd8 0%, #ad12dd 40%, #8055d9 60%, #37a7d3 80%, #16c7d2 95%, #16c7d2 100%);
    background: -o-linear-gradient(100deg, #b00dd8 0%, #ad12dd 40%, #8055d9 60%, #37a7d3 80%, #16c7d2 95%, #16c7d2 100%);
    background: linear-gradient(350deg, #b00dd8 0%, #ad12dd 40%, #8055d9 60%, #37a7d3 80%, #16c7d2 95%, #16c7d2 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00dd8', endColorstr='#16c7d2',GradientType=1 );
    /* ie6-9 */ }

.box-shares {
  position: relative; }
  .box-shares__title {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
    color: #d10000;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    line-height: 18px;
    margin: 0 0 22px 35px; }
  .box-shares-list {
    margin-left: 35px; }
  .box-shares-list__item {
    display: block;
    margin-bottom: 18px; }
    .box-shares-list__item p {
      display: inline-block;
      vertical-align: top;
      width: 80%;
      padding-left: 18px; }
    .box-shares-list__item .img-wrap {
      width: 51px;
      display: inline-block;
      padding-left: 5px; }
  .box-shares__button {
    margin: -3px 0 0 28px;
    padding-left: 7px; }

/* tabs */
.tabs {
  padding: 23px 0; }

.box-tabs {
  position: relative;
  left: 2px; }
  .box-tabs__toggle {
    position: relative;
    height: 50px; }
  .box-tabs__slider {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 332px;
    padding: 15px 30px;
    border: 1px solid #689cbe;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    z-index: 0;
    overflow: hidden; }
  .box-tabs .overflow-wrap {
    width: 2250px;
    margin-left: 0;
    -webkit-transition: margin-left 0.6s ease;
    -o-transition: margin-left 0.6s ease;
    -moz-transition: margin-left 0.6s ease;
    transition: margin-left 0.6s ease; }

.box-tads__input:nth-child(1):checked ~ .box-tabs__slider {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0; }

.toggle__item {
  position: relative;
  display: inline-block;
  padding: 14px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
  color: #105a8f;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  line-height: 18px;
  letter-spacing: -0.4px; }
  .toggle__item:nth-child(2), .toggle__item:nth-child(3) {
    margin-left: 10px; }
  .toggle__item .js-tabs {
    border-bottom: 1px dashed #105a8f;
    cursor: pointer; }
  .toggle__item.active {
    position: relative;
    color: #d10000;
    font-size: 20px;
    margin-left: 0;
    padding: 14px 37px 18px 30px;
    border: 1px solid #689cbe;
    border-bottom: none;
    -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(40%, rgba(185, 185, 185, 0.3)), color-stop(95%, rgba(245, 244, 244, 0.3)), to(#ffffff));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
    z-index: 11; }
    .toggle__item.active .js-tabs {
      border: none;
      cursor: default; }

.btn-tabs {
  position: absolute;
  display: none;
  top: 13px;
  right: 10px;
  width: 30px;
  height: 25px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #a9a9a9;
  background-color: #ffffff;
  z-index: 999;
  cursor: pointer; }
  .btn-tabs span {
    position: relative;
    display: block;
    margin: 10px auto 0;
    width: 17px;
    height: 3px;
    background-color: #a9a9a9; }
    .btn-tabs span::before, .btn-tabs span::after {
      content: '';
      position: absolute;
      top: -6px;
      display: block;
      width: 17px;
      height: 3px;
      background-color: #a9a9a9; }
    .btn-tabs span::after {
      top: 6px; }

.slider__button {
  position: absolute;
  top: 6px;
  right: 80px; }

.slider__control {
  position: absolute;
  top: 45px;
  width: 50px;
  height: 85%;
  z-index: 49; }
  .slider__control--left {
    left: 0px;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(40%, rgba(255, 255, 255, 0.9)), color-stop(65%, rgba(255, 255, 255, 0.65)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* opera 11.10+ */
    /* ie10+ */
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0.65)), color-stop(60%, rgba(255, 255, 255, 0.9)), to(white));
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    /* ie6-9 */ }
  .slider__control--right {
    right: 0px;
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0.65)), color-stop(60%, rgba(255, 255, 255, 0.9)), color-stop(100%, white));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* opera 11.10+ */
    /* ie10+ */
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0.65)), color-stop(60%, rgba(255, 255, 255, 0.9)), to(white));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 35%, rgba(255, 255, 255, 0.9) 60%, white 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    /* ie6-9 */ }
  .slider__control .arrow-left,
  .slider__control .arrow-right {
    position: absolute;
    top: 50px;
    display: block;
    width: 23px;
    height: 55px;
    z-index: 99; }
    .slider__control .arrow-left:hover,
    .slider__control .arrow-right:hover {
      cursor: pointer; }
  .slider__control .arrow-left {
    left: 7px;
    background: url(../img/slider-product/sprite_slider.png) -38px -5px no-repeat; }
  .slider__control .arrow-right {
    right: 7px;
    background: url(../img/slider-product/sprite_slider.png) -104px -5px no-repeat; }
  .slider__control .arrow-left.active {
    background: url(../img/slider-product/sprite_slider.png) -5px -5px no-repeat; }
  .slider__control .arrow-right.active {
    background: url(../img/slider-product/sprite_slider.png) -71px -5px no-repeat; }

.product-box {
  position: relative;
  display: inline-block;
  float: left;
  width: 225px;
  margin: 30px 0 10px;
  padding: 20px 25px 0 30px;
  line-height: 18px; }
  .product-box.super-gift .product-box__old-price {
    display: none; }
  .product-box.super-price .product-box__gift, .product-box.super-discount .product-box__gift {
    display: none; }
  .product-box.super-gift::before, .product-box.super-price::before, .product-box.super-discount::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 25px;
    width: 70px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/slider-product/sprite_supers.png); }
  .product-box.super-gift::before {
    background-position: -140px 0; }
  .product-box.super-price::before {
    background-position: -70px 0; }
  .product-box.super-discount::before {
    background-position: 0 0; }
  .product-box__img {
    height: 100px;
    margin-bottom: 15px; }
  .product-box__options {
    color: #d10000; }
  .product-box__link {
    margin: 5px 0px; }
  .product-box__old-price {
    color: #999999;
    font-weight: 700;
    font-size: 15px;
    text-decoration: line-through;
    -webkit-text-decoration-color: #d10000;
       -moz-text-decoration-color: #d10000;
            text-decoration-color: #d10000; }
    .product-box__old-price span {
      font-size: 13px; }
  .product-box .button {
    padding: 4px 5px 2px 10px; }
    .product-box .button span:nth-child(1) {
      border: none; }
  .product-box__buy-button {
    margin: 2px 0px 2px -8px;
    color: #333333;
    font-style: italic;
    font-size: 18px;
    font-weight: 900; }
    .product-box__buy-button .buy-button__price b {
      font-style: normal;
      font-size: 13px;
      font-weight: 700; }
    .product-box__buy-button .buy-button__icon {
      width: 17px;
      height: 18px;
      margin-right: 7px;
      background: url(../img/slider-product/sprite_slider.png) -137px -5px no-repeat; }
  .product-box__usd-price {
    color: #5c9559;
    font-size: 11px; }
  .product-box__gift {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
    border: 1px solid #d10000;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #ffffff; }
    .product-box__gift::before, .product-box__gift::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0; }
    .product-box__gift::before {
      border: 9px solid transparent;
      border-right-color: #d10000;
      top: 25px;
      left: -18px; }
    .product-box__gift::after {
      border: 8px solid transparent;
      border-right-color: #ffffff;
      left: -15.5px;
      top: 26px; }
    .product-box__gift .gift__img {
      width: 50px;
      display: block; }

#bestSellers .product-box__buy-button,
#newProduct .product-box__buy-button {
  margin: 10px 0px 5px -8px; }

/* brands */
.brands {
  padding: 20px 0; }

.box-head {
  position: relative;
  padding-bottom: 10px; }
  .box-head__title {
    padding-left: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    line-height: 18px;
    letter-spacing: -0.15px; }
  .box-head__button {
    margin: -3px 100px 0 0;
    padding: 3px 5px 3px 10px;
    float: right; }

.box-logo .col-xs-12 .row:first-child .box-logo__item::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 97%;
  height: 1px;
  background-color: #ddd; }

.box-logo .col-xs-12 .row:first-child .box-logo__item::after {
  content: '';
  position: absolute;
  display: none;
  top: 5px;
  right: 0;
  width: 1px;
  height: 116px;
  background: url(../img/img-separator.png) no-repeat; }

.box-logo .col-xs-12 .row:first-child .box-logo__item:first-child::before,
.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(3)::before {
  right: 0; }

.box-logo .col-xs-12 .row:first-child .box-logo__item:first-child::after,
.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(3)::after {
  display: block; }

.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(2)::before,
.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(4)::before {
  left: 0; }

.box-logo__item {
  position: relative;
  width: 25%;
  height: 64px;
  text-align: center;
  float: left;
  font-size: 48px; }
  .box-logo__item .sprite {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .box-logo__item:hover .sprite {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1); }

.sprite {
  background-image: url(../img/sprit_brand.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.sprite-img-mfr_1 {
  width: 73px;
  height: 38px;
  background-position: -5px -5px; }

.sprite-img-mfr_2 {
  width: 93px;
  height: 18px;
  background-position: -5px -278px; }

.sprite-img-mfr_3 {
  width: 35px;
  height: 43px;
  background-position: -5px -306px; }

.sprite-img-mfr_4 {
  width: 93px;
  height: 16px;
  background-position: -5px -359px; }

.sprite-img-mfr_5 {
  width: 67px;
  height: 27px;
  background-position: -5px -385px; }

.sprite-img-mfr_6 {
  width: 57px;
  height: 23px;
  background-position: -5px -422px; }

.sprite-img-mfr_7 {
  width: 52px;
  height: 36px;
  background-position: -5px -455px; }

.sprite-img-mfr_8 {
  width: 77px;
  height: 26px;
  background-position: -5px -501px; }

.sprite-img-mfr_9 {
  width: 54px;
  height: 28px;
  background-position: -5px -537px; }

.sprite-img-mfr_10 {
  width: 105px;
  height: 23px;
  background-position: -5px -53px; }

.sprite-img-mfr_11 {
  width: 73px;
  height: 16px;
  background-position: -5px -86px; }

.sprite-img-mfr_12 {
  width: 79px;
  height: 27px;
  background-position: -5px -112px; }

.sprite-img-mfr_13 {
  width: 103px;
  height: 27px;
  background-position: -5px -149px; }

.sprite-img-mfr_14 {
  width: 80px;
  height: 17px;
  background-position: -5px -186px; }

.sprite-img-mfr_15 {
  width: 54px;
  height: 15px;
  background-position: -5px -213px; }

.sprite-img-mfr_16 {
  width: 112px;
  height: 30px;
  background-position: -5px -238px; }

.box-link {
  padding: 30px 0 35px;
  border-bottom: 1px solid #e6e6e6; }

.box-link-list {
  padding-left: 15px; }
  .box-link-list__item {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px; }
    .box-link-list__item a:hover {
      color: #d10000; }

/* reviews */
.review {
  padding: 13px 0; }
  .review .box-head__title {
    font-size: 20px;
    font-weight: 900;
    padding-left: 2px;
    letter-spacing: -0.4px; }
  .review .box-head__button {
    margin: -5px 62px 0 0;
    padding-right: 10px; }
  .review-box {
    padding: 12px 0 32px 0; }
    .review-box__item {
      padding: 0 5px; }
      .review-box__item:hover .review-box__item--img {
        -webkit-transition: all 1s linear;
        -o-transition: all 1s linear;
        -moz-transition: all 1s linear;
        transition: all 1s linear;
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1); }
    .review-box__item--img {
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      transition: all 0.5s linear; }
    .review-box__item--text h3 {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      padding: 15px 10px 10px 0; }
      .review-box__item--text h3:hover a {
        color: #d10000; }
    .review-box__item--text p {
      line-height: 20px;
      padding-right: 20px; }

.box-separator {
  display: block;
  border-bottom: 4px solid #175b8e;
  width: 100%;
  height: 54px;
  background: url(../img/reviews/img-reviews_separator.png) center no-repeat; }

/* media content */
@media screen and (max-width: 1169px) {
  .descript {
    width: 60%; }
    .descript__text {
      padding-right: 80px; } }

@media screen and (max-width: 1130px) {
  .img__item {
    background-position: bottom; }
    .img__item:nth-child(1) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(2) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(3) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(4) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(5) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
  .descript-box {
    width: 60%; } }

@media screen and (max-width: 1040px) {
  .descript {
    width: 65%; }
    .descript__text {
      padding-right: 95px; }
  .box-logo .col-xs-12 .row:first-child .box-logo__item:first-child::after,
  .box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(3)::after {
    right: -8px; }
  .box-logo .col-xs-12 .row:first-child .box-logo__item::before {
    width: 100%; }
  .box-logo .col-xs-12 .row:first-child .box-logo__item::after {
    display: block; } }

@media screen and (max-width: 991px) {
  .descript {
    width: 48%; }
  .img__item {
    background-position: top; }
    .img__item:nth-child(1) {
      background-image: url(../img/promp-shares/img-promo_1.jpg); }
    .img__item:nth-child(2) {
      background-image: url(../img/promp-shares/img-promo_1.jpg); }
    .img__item:nth-child(3) {
      background-image: url(../img/promp-shares/img-promo_1.jpg); }
    .img__item:nth-child(4) {
      background-image: url(../img/promp-shares/img-promo_1.jpg); }
    .img__item:nth-child(5) {
      background-image: url(../img/promp-shares/img-promo_1.jpg); }
  .box-shares {
    margin-top: 45px; }
    .box-shares__title {
      margin-left: 2px; }
    .box-shares-list {
      margin-left: 2px; }
      .box-shares-list__item p {
        margin-top: 7px; }
    .box-shares__button {
      margin: 5px 0 0 7px; }
  .box-tabs__toggle .toggle__item {
    display: none; }
  .box-tabs__toggle .toggle__item.active {
    display: inline-block;
    padding-left: 10px;
    padding-right: 57px; }
  .slider__button {
    top: 10px;
    right: 15px; }
  .box-head__button,
  .review .box-head__button {
    margin-right: 15px; }
  .btn-tabs {
    display: block; }
  .toggle__item span.js-tabs {
    cursor: default; }
  .box-logo .col-xs-12 .row .box-logo__item:last-child::after {
    display: none; }
  .box-link-list__item {
    font-size: 13px;
    line-height: 22px; }
  .review-box__item--img,
  .review-box__item--text {
    display: inline-block;
    vertical-align: top; }
  .review-box {
    padding-bottom: 20px; }
    .review-box__item {
      padding-top: 25px; }
    .review-box__item--text {
      width: 78%;
      padding-left: 30px; } }

@media screen and (max-width: 886px) {
  .descript {
    width: 55%; }
    .descript__text {
      padding-right: 80px; } }

@media screen and (max-width: 767px) {
  .content {
    margin-top: -22px; }
  .img__item {
    background-position: center; }
    .img__item:nth-child(1) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(2) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(3) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(4) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
    .img__item:nth-child(5) {
      background-image: url(../img/promp-shares/img-promo_1w704.jpg); }
  .tabs {
    padding-top: 35px; }
  .descript {
    padding: 5px 0 0 33px; }
  .box-link {
    padding: 15px 0 40px; }
    .box-link .box-link-list:first-child {
      padding-left: 5px; }
    .box-link-list__item {
      font-size: 15px;
      font-weight: 400;
      line-height: 26px; }
  .review {
    padding-top: 18px; }
    .review-box {
      padding-top: 3px; }
      .review-box__item {
        padding-top: 0;
        padding-bottom: 20px; }
      .review-box__item--text {
        padding-left: 20px;
        width: 70%; } }

@media screen and (max-width: 745px) {
  .descript {
    width: 60%; }
    .descript__text {
      padding-right: 65px; } }

@media screen and (max-width: 660px) {
  .descript {
    width: 70%; }
    .descript__text {
      padding-right: 85px; } }

@media screen and (max-width: 600px) {
  .content {
    margin-top: -22px; } }

@media screen and (max-width: 599px) {
  .box-link-list__item {
    font-size: 13px;
    line-height: 24px; } }

@media screen and (max-width: 588px) {
  .img__item {
    background-position: bottom; }
    .img__item:nth-child(1) {
      background-image: url(../img/promp-shares/img-promo_1w448.jpg); }
    .img__item:nth-child(2) {
      background-image: url(../img/promp-shares/img-promo_1w448.jpg); }
    .img__item:nth-child(3) {
      background-image: url(../img/promp-shares/img-promo_1w448.jpg); }
    .img__item:nth-child(4) {
      background-image: url(../img/promp-shares/img-promo_1w448.jpg); }
    .img__item:nth-child(5) {
      background-image: url(../img/promp-shares/img-promo_1w448.jpg); }
  .descript {
    width: 100%;
    padding: 10px 15px 0 25px; } }

@media screen and (max-width: 555px) {
  .box-logo__item .sprite {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8); }
  .box-link-list__item {
    font-size: 11px; }
  .review-box__item--text {
    width: 57.5%;
    padding-left: 15px; } }

@media screen and (max-width: 480px) {
  .descript {
    padding: 5px 10px 0 15px; }
    .descript__text {
      padding-right: 65px; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  padding: 7px 0 50px;
  width: 100%; }
  footer .row .col-md-3:nth-child(1) {
    padding-left: 3px; }
  footer .row .col-md-3:nth-child(2) {
    padding-left: 3px; }
  footer .row .col-md-3:nth-child(3) {
    margin-top: -5px; }
  footer .row .col-md-3:nth-child(3),
  footer .row .col-md-3:nth-child(4) {
    padding: 0 0 0 10px; }

.footer__copyright {
  padding-left: 3px;
  font-size: 15px;
  line-height: 18px; }

.footer__nav {
  margin: 7px 0 34px; }

.footer__address {
  line-height: 22px; }

.footer__phone {
  font-size: 24px;
  line-height: 21px; }
  .footer__phone span {
    font-weight: 700; }

.footer__callback {
  display: inline-block;
  margin: 7px 0px 17px 0px;
  border-bottom: 1px dashed #105a8f;
  text-decoration: none; }

.footer__button {
  margin-left: -5px;
  padding-right: 11px; }
  .footer__button span:first-child {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.2px;
    border-bottom: 1px dashed #105a8f; }

.footer__condition {
  display: block;
  margin-top: 35px; }

.footer__time-work p {
  line-height: 22px; }
  .footer__time-work p:first-child {
    font-weight: 700; }

.footer__payment {
  margin-top: 15px; }

.footer .nav-list__item {
  line-height: 20px;
  padding: 0 6px; }
  .footer .nav-list__item:nth-child(6) a {
    padding-left: 0; }
    .footer .nav-list__item:nth-child(6) a::before {
      content: none; }
  .footer .nav-list__item:nth-child(4) a {
    padding-left: 16px; }
    .footer .nav-list__item:nth-child(4) a::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 4px;
      width: 15px;
      height: 15px;
      background: url(../img/header/sprite_header.png) -76px -5px no-repeat;
      cursor: pointer; }

.box-owox__text, .box-owox__year {
  font-size: 11px;
  line-height: 15px; }

.box-owox__text {
  color: #4e4e4e; }
  .box-owox__text a {
    color: #0066aa; }

.box-owox__year {
  color: #999999; }

.payment-list__item {
  margin-right: 5px;
  display: inline-block;
  float: left; }

.payment-icon {
  background-image: url(../img/footer/sprite_payment.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px; }
  .payment-icon--mc {
    width: 47px;
    background-position: -5px -5px; }
  .payment-icon--visa {
    width: 66px;
    background-position: -62px -5px; }
  .payment-icon--wm {
    width: 101px;
    background-position: -138px -5px; }

.social-icon {
  background-image: url(../img/footer/sprite_social.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 20px; }
  .social-icon--fb {
    background-position: 0 0; }
  .social-icon--vk {
    background-position: 0 -32px; }
  .social-icon--tw {
    background-position: 0 -64px; }

.social-list__item a {
  text-decoration: none; }

.social-list__item a span {
  text-decoration: underline; }

.box-owox::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -20px;
  width: 1px;
  height: 192px;
  background: url(../img/footer/img-footer_separator.png) center no-repeat; }

@media screen and (max-width: 1050px) {
  .box-owox::before {
    left: -10px; } }

@media screen and (max-width: 991px) {
  footer .row .col-md-3:nth-child(3),
  footer .row .col-md-3:nth-child(4) {
    padding: 0; }
  .footer__nav {
    margin-bottom: 15px; }
  .footer__button {
    margin-left: 0; }
  .footer__condition {
    margin-top: 15px; }
  .footer__payment {
    margin-top: 25px; }
  .footer__social {
    text-align: center; }
  .social-list {
    display: inline-block;
    margin: 35px 0 25px 0; }
    .social-list__item {
      margin-right: 35px;
      display: inline-block;
      float: left; }
      .social-list__item:last-child {
        margin-right: 0; }
  .box-owox {
    padding-top: 25px;
    border-top: 1px solid #e7e6e6;
    text-align: center; }
    .box-owox::before {
      content: none; }
  .logo-owox,
  .box-owox__text {
    display: inline-block; }
  .logo-owox {
    padding: 14px; }
  .box-owox__text {
    text-align: left; } }

@media screen and (max-width: 555px) {
  .social-list {
    margin-top: 20px; }
    .social-list__item a span:last-child {
      display: none; } }

@media screen and (max-width: 500px) {
  footer .col-xs-6 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center; }
  .payment-list {
    margin-top: 10px;
    text-align: center; }
    .payment-list__item {
      float: none; }
  .social-list {
    margin-top: 20px; } }

@-webkit-keyframes blink {
  0% {
    -webkit-box-shadow: 0 0 0px 0px #6cbe68;
            box-shadow: 0 0 0px 0px #6cbe68; }
  50% {
    -webkit-box-shadow: 0 0 7px 1px #6cbe68;
            box-shadow: 0 0 7px 1px #6cbe68; }
  55% {
    -webkit-box-shadow: 0 0 0px 0px #6cbe68;
            box-shadow: 0 0 0px 0px #6cbe68; }
  100% {
    -webkit-box-shadow: 0 0 0px 0px #6cbe68;
            box-shadow: 0 0 0px 0px #6cbe68; } }

@-moz-keyframes blink {
  0% {
    box-shadow: 0 0 0px 0px #6cbe68; }
  50% {
    box-shadow: 0 0 7px 1px #6cbe68; }
  55% {
    box-shadow: 0 0 0px 0px #6cbe68; }
  100% {
    box-shadow: 0 0 0px 0px #6cbe68; } }

@-o-keyframes blink {
  0% {
    box-shadow: 0 0 0px 0px #6cbe68; }
  50% {
    box-shadow: 0 0 7px 1px #6cbe68; }
  55% {
    box-shadow: 0 0 0px 0px #6cbe68; }
  100% {
    box-shadow: 0 0 0px 0px #6cbe68; } }

@keyframes blink {
  0% {
    -webkit-box-shadow: 0 0 0px 0px #6cbe68;
            box-shadow: 0 0 0px 0px #6cbe68; }
  50% {
    -webkit-box-shadow: 0 0 7px 1px #6cbe68;
            box-shadow: 0 0 7px 1px #6cbe68; }
  55% {
    -webkit-box-shadow: 0 0 0px 0px #6cbe68;
            box-shadow: 0 0 0px 0px #6cbe68; }
  100% {
    -webkit-box-shadow: 0 0 0px 0px #6cbe68;
            box-shadow: 0 0 0px 0px #6cbe68; } }
