/* reset */
$min-width: 400px; 
$max-width: 1200px; 
$base-bg: #fff; 
$base-font-size: 13px; 
$base-line-height: 17px; 
$base-font-family: Arial, sans-serif; 
$custom-font-family: 'Century Gothic', sans-serif; 
$link-color: #105a8f;
$link-hover: #d10000;
$default-transition: all 0.2s ease;

/* main variables */

//text, titles
$text-color: #333;
$title-color: #000;
$title-font-family: $base-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 31px;
$line-height-h2: 35px;
$font-size-h3: 15px;
$line-height-h3: 20px;