<ul class="menu-list">
	<li class="menu-list__item">
		<a href="#" class="menu-list__link">ПК и Серверы<br />Prime PC</a>
		<div class="drop-menu" id="drop-menu_1">
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Компьютеры</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Компьютеры</a></li>
					<li class="column-list__item"><a href="#">Сервера</a></li>
					<li class="column-list__item"><a href="#">Тонкие клиенты</a></li>
					<li class="column-list__item"><a href="#">Неттопы и моноблоки</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Мониторы</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Ноутбуки<br />и планшеты</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Планшеты</a></li>
					<li class="column-list__item"><a href="#">Ноутбуки</a></li>
					<li class="column-list__item"><a href="#">Сумки для ноутбуков</a></li>
					<li class="column-list__item"><a href="#">Аксессуары для ноубуков</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Оргтехника</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Принтеры</a></li>
					<li class="column-list__item"><a href="#">МФУ</a></li>
					<li class="column-list__item"><a href="#">Плоттеры</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Сканеры</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Телефоны</a></li>
					<li class="column-list__item"><a href="#">Факсы</a></li>
					<li class="column-list__item"><a href="#">Расходные материалы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Мониторы<br />и ЖК-панели</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Мониторы  </a></li>
					<li class="column-list__item"><a href="#">Сетевые мониторы</a></li>
					<li class="column-list__item"><a href="#">Профессиональные ЖК панели</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu-list__item">
		<a href="#" class="menu-list__link">Компьютеры<br />и периферия</a>
		<div class="drop-menu" id="drop-menu_2">
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">2-Компьютеры</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Компьютеры</a></li>
					<li class="column-list__item"><a href="#">Сервера</a></li>
					<li class="column-list__item"><a href="#">Тонкие клиенты</a></li>
					<li class="column-list__item"><a href="#">Неттопы и моноблоки</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Мониторы</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Ноутбуки<br />и планшеты</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Планшеты</a></li>
					<li class="column-list__item"><a href="#">Ноутбуки</a></li>
					<li class="column-list__item"><a href="#">Сумки для ноутбуков</a></li>
					<li class="column-list__item"><a href="#">Аксессуары для ноубуков</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Оргтехника</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Принтеры</a></li>
					<li class="column-list__item"><a href="#">МФУ</a></li>
					<li class="column-list__item"><a href="#">Плоттеры</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Сканеры</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Телефоны</a></li>
					<li class="column-list__item"><a href="#">Факсы</a></li>
					<li class="column-list__item"><a href="#">Расходные материалы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Мониторы<br />и ЖК-панели</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Мониторы  </a></li>
					<li class="column-list__item"><a href="#">Сетевые мониторы</a></li>
					<li class="column-list__item"><a href="#">Профессиональные ЖК панели</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu-list__item">
		<a href="#" class="menu-list__link">Программное<br />обеспечение</a>
		<div class="drop-menu" id="drop-menu_3">
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">3-Компьютеры</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Компьютеры</a></li>
					<li class="column-list__item"><a href="#">Сервера</a></li>
					<li class="column-list__item"><a href="#">Тонкие клиенты</a></li>
					<li class="column-list__item"><a href="#">Неттопы и моноблоки</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Мониторы</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Ноутбуки<br />и планшеты</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Планшеты</a></li>
					<li class="column-list__item"><a href="#">Ноутбуки</a></li>
					<li class="column-list__item"><a href="#">Сумки для ноутбуков</a></li>
					<li class="column-list__item"><a href="#">Аксессуары для ноубуков</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Оргтехника</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Принтеры</a></li>
					<li class="column-list__item"><a href="#">МФУ</a></li>
					<li class="column-list__item"><a href="#">Плоттеры</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Сканеры</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Телефоны</a></li>
					<li class="column-list__item"><a href="#">Факсы</a></li>
					<li class="column-list__item"><a href="#">Расходные материалы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Мониторы<br />и ЖК-панели</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Мониторы  </a></li>
					<li class="column-list__item"><a href="#">Сетевые мониторы</a></li>
					<li class="column-list__item"><a href="#">Профессиональные ЖК панели</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu-list__item">
		<a href="#" class="menu-list__link">Сети и теле-<br />коммуникации</a>
		<div class="drop-menu" id="drop-menu_4">
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">4-Компьютеры</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Компьютеры</a></li>
					<li class="column-list__item"><a href="#">Сервера</a></li>
					<li class="column-list__item"><a href="#">Тонкие клиенты</a></li>
					<li class="column-list__item"><a href="#">Неттопы и моноблоки</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Мониторы</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Ноутбуки<br />и планшеты</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Планшеты</a></li>
					<li class="column-list__item"><a href="#">Ноутбуки</a></li>
					<li class="column-list__item"><a href="#">Сумки для ноутбуков</a></li>
					<li class="column-list__item"><a href="#">Аксессуары для ноубуков</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Оргтехника</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Принтеры</a></li>
					<li class="column-list__item"><a href="#">МФУ</a></li>
					<li class="column-list__item"><a href="#">Плоттеры</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Сканеры</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Телефоны</a></li>
					<li class="column-list__item"><a href="#">Факсы</a></li>
					<li class="column-list__item"><a href="#">Расходные материалы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Мониторы<br />и ЖК-панели</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Мониторы  </a></li>
					<li class="column-list__item"><a href="#">Сетевые мониторы</a></li>
					<li class="column-list__item"><a href="#">Профессиональные ЖК панели</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu-list__item">
		<a href="#" class="menu-list__link">Системы<br />безопастности</a>
		<div class="drop-menu" id="drop-menu_5">
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">5-Компьютеры</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Компьютеры</a></li>
					<li class="column-list__item"><a href="#">Сервера</a></li>
					<li class="column-list__item"><a href="#">Тонкие клиенты</a></li>
					<li class="column-list__item"><a href="#">Неттопы и моноблоки</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Мониторы</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Ноутбуки<br />и планшеты</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Планшеты</a></li>
					<li class="column-list__item"><a href="#">Ноутбуки</a></li>
					<li class="column-list__item"><a href="#">Сумки для ноутбуков</a></li>
					<li class="column-list__item"><a href="#">Аксессуары для ноубуков</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Оргтехника</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Принтеры</a></li>
					<li class="column-list__item"><a href="#">МФУ</a></li>
					<li class="column-list__item"><a href="#">Плоттеры</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Сканеры</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Телефоны</a></li>
					<li class="column-list__item"><a href="#">Факсы</a></li>
					<li class="column-list__item"><a href="#">Расходные материалы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Мониторы<br />и ЖК-панели</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Мониторы  </a></li>
					<li class="column-list__item"><a href="#">Сетевые мониторы</a></li>
					<li class="column-list__item"><a href="#">Профессиональные ЖК панели</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu-list__item">
		<a href="#" class="menu-list__link">Бесперебойная<br />работа</a>
		<div class="drop-menu" id="drop-menu_6">
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">6-Компьютеры</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Компьютеры</a></li>
					<li class="column-list__item"><a href="#">Сервера</a></li>
					<li class="column-list__item"><a href="#">Тонкие клиенты</a></li>
					<li class="column-list__item"><a href="#">Неттопы и моноблоки</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Мониторы</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Ноутбуки<br />и планшеты</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Планшеты</a></li>
					<li class="column-list__item"><a href="#">Ноутбуки</a></li>
					<li class="column-list__item"><a href="#">Сумки для ноутбуков</a></li>
					<li class="column-list__item"><a href="#">Аксессуары для ноубуков</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Оргтехника</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Принтеры</a></li>
					<li class="column-list__item"><a href="#">МФУ</a></li>
					<li class="column-list__item"><a href="#">Плоттеры</a></li>
					<li class="column-list__item"><a href="#">ИБП</a></li>
					<li class="column-list__item"><a href="#">Сканеры</a></li>
					<li class="column-list__item"><a href="#">Манипуляторы</a></li>
					<li class="column-list__item"><a href="#">Телефоны</a></li>
					<li class="column-list__item"><a href="#">Факсы</a></li>
					<li class="column-list__item"><a href="#">Расходные материалы</a></li>
					<li class="column-list__item"><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="drop-menu__column">
				<h3 class="column-title"><a href="#">Мониторы<br />и ЖК-панели</a></h3>
				<ul class="column-list">
					<li class="column-list__item"><a href="#">Мониторы  </a></li>
					<li class="column-list__item"><a href="#">Сетевые мониторы</a></li>
					<li class="column-list__item"><a href="#">Профессиональные ЖК панели</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="menu-list__item--mobile">
		<select name="" id="menu-select">
			<option value="1" class="select__item" selected>ПК и Серверы Prime PC</option>
			<option value="2" class="select__item">Компьютеры и периферия</option>
			<option value="3" class="select__item">Программное обеспечение</option>
			<option value="4" class="select__item">Сети и теле- коммуникации</option>
			<option value="5" class="select__item">Системы безопастности</option>
			<option value="6" class="select__item">Бесперебойная работа</option>
		</select>
	</li>
	<li class="menu-list__item--mobile">
		<a href="#" class="menu-list__button" id="js-menu-btn" ng-click="menu_btn()">
			<span></span>
		</a>
	</li>
</ul>