<div ng-repeat="product in products" class="product-box">

	<img ng-src="{{product.imageURL}}" class="product-box__img" alt="product" title="{{product.name}}">

	<h4 class="product-box__link"><a href="#/">{{product.name}}</a></h4>

	<a href="#/" class="product-box__buy-button button">
		<span class="buy-button__price">{{product.price}} <b>грн.</b></span>
		<span class="buy-button__icon"></span>
	</a>

	<p class="product-box__usd-price">{{product.price_usd}}$</p>
</div>