<div ng-repeat="product in products" class="product-box">

	<img ng-src="{{product.imageURL}}" class="product-box__img" alt="product" title="{{product.name}}">

	<h4 class="product-box__link"><a href="#/">{{product.name}}</a></h4>

</div>