<div ng-repeat="product in products" class="product-box {{product.class}}">

	<img ng-src="{{product.imageURL}}" class="product-box__img" alt="product" title="{{product.name}}">

	<p class="product-box__options">{{product.options}}</p>

	<h4 class="product-box__link"><a href="#/">{{product.name}}</a></h4>

	<p class="product-box__old-price">{{product.price_old}} <span>грн.</span></p>

	<a href="#/" class="product-box__buy-button button">
		<span class="buy-button__price">{{product.price}} <b>грн.</b></span>
		<span class="buy-button__icon"></span>
	</a>

	<p class="product-box__usd-price">{{product.price_usd}}$</p>

	<span class="product-box__gift">
		<img ng-src="{{product.gift_1URL}}" alt="gift" class="gift__img">
		<img ng-src="{{product.gift_2URL}}" alt="gift" class="gift__img">
	</span>
</div>