
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	position: relative;
	width: 100%;	
	margin-top: -5px;

}
.box-promo{
	position: relative;
	border: 7px solid #689cbe;
	border-radius: 5px;
	&__img{
		width: 500%;
	}
	&__toogle{
		position: absolute;
		left: 0;
		bottom: -27px;
	}
	.toogle__item{
		display: inline-block;
		text-align: center;
		width: 20px;
		height: 27px;
		padding-top: 7px;
		border-radius: 3px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: #689cbe;
		text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
		color: #ffffff;
		font-size: 13px;
		font-weight: 700;
		line-height: 18px;
		&:hover{
			color: $link-hover;
			background-color: #ffffff;
			border: 2px solid #689cbe;
			border-top: none;
			cursor: pointer;
		}
		&.active{
			color: $link-hover;
			background-color: #ffffff;
			border: 2px solid #689cbe;
			border-top: none;
		}
	}
}
.box-promo__input:nth-child(1):checked ~ .box-promo__img{
	margin-left: 0;
}
.box-promo__input:nth-child(2):checked ~ .box-promo__img{
	margin-left: -100%;
}
.box-promo__input:nth-child(3):checked ~ .box-promo__img{
	margin-left: -200%;
}
.box-promo__input:nth-child(4):checked ~ .box-promo__img{
	margin-left: -300%;
}
.box-promo__input:nth-child(5):checked ~ .box-promo__img{
	margin-left: -400%;
}
.box-promo__input:nth-child(1):checked ~ .box-promo__img,
.box-promo__input:nth-child(2):checked ~ .box-promo__img,
.box-promo__input:nth-child(3):checked ~ .box-promo__img,
.box-promo__input:nth-child(4):checked ~ .box-promo__img,
.box-promo__input:nth-child(5):checked ~ .box-promo__img{
	transition: 1s;
}
.overflow-wrap{
	overflow: hidden;
}
.img__item{
	display: block;
	float: left;
	width: 20%;
	height: 228px;
	background-size: cover;
	background-position: center;
	&:nth-child(1){
		background-image: url(../img/promp-shares/img-promo_1.jpg);
	}
	&:nth-child(2){
		background-image: url(../img/promp-shares/img-promo_1.jpg);
	}
	&:nth-child(3){
		background-image: url(../img/promp-shares/img-promo_1.jpg);
	}
	&:nth-child(4){
		background-image: url(../img/promp-shares/img-promo_1.jpg);
	}
	&:nth-child(5){
		background-image: url(../img/promp-shares/img-promo_1.jpg);
	}
}
.descript{
	width: 55%;
	padding: 10px 0 0 35px;
	font-family: $custom-font-family;
	&__title{
		color: #6640c7;
		font-size: 28px;
		font-weight: 400;
		line-height: 35px;
		letter-spacing: -1px;
	}
	&__text{
		color: #333333;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		padding: 5px 95px 10px 2px;
		letter-spacing: -0.35px;
	}
	&__button{
		display: inline-block;
		padding: 15px 25px;
		color: #ffffff;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		border-radius: 5px;
		border: 1px solid #686868;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
		background: -moz-linear-gradient(350deg, rgba(176,13,216,1) 0%, rgba(173,18,221,1) 40%, rgba(128,85,217,1) 60%, rgba(55,167,211,1) 80%, rgba(22,199,210,1) 95%, rgba(22,199,210,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(176,13,216,1)), color-stop(40%, rgba(173,18,221,1)), color-stop(60%, rgba(128,85,217,1)), color-stop(80%, rgba(55,167,211,1)), color-stop(95%, rgba(22,199,210,1)), color-stop(100%, rgba(22,199,210,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(350deg, rgba(176,13,216,1) 0%, rgba(173,18,221,1) 40%, rgba(128,85,217,1) 60%, rgba(55,167,211,1) 80%, rgba(22,199,210,1) 95%, rgba(22,199,210,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(350deg, rgba(176,13,216,1) 0%, rgba(173,18,221,1) 40%, rgba(128,85,217,1) 60%, rgba(55,167,211,1) 80%, rgba(22,199,210,1) 95%, rgba(22,199,210,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(350deg, rgba(176,13,216,1) 0%, rgba(173,18,221,1) 40%, rgba(128,85,217,1) 60%, rgba(55,167,211,1) 80%, rgba(22,199,210,1) 95%, rgba(22,199,210,1) 100%); /* ie10+ */
		background: linear-gradient(350deg, rgba(176,13,216,1) 0%, rgba(173,18,221,1) 40%, rgba(128,85,217,1) 60%, rgba(55,167,211,1) 80%, rgba(22,199,210,1) 95%, rgba(22,199,210,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00dd8', endColorstr='#16c7d2',GradientType=1 ); /* ie6-9 */
	}
}

.box-shares{
	position: relative;
	&__title{
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
		color: $link-hover;
		font-size: 25px;
		font-weight: 900;
		font-style: italic;
		line-height: 18px;
		margin: 0 0 22px 35px;
	}
	&-list{
		margin-left: 35px;
	}
	&-list__item{
		display: block;
		margin-bottom: 18px;
		& p{
			display: inline-block;
			vertical-align: top;
			width: 80%;
			padding-left: 18px;
		}
		& .img-wrap{
			width: 51px;
			display: inline-block;
			padding-left: 5px;
		}
	}
	&__button{
		margin: -3px 0 0 28px;
		padding-left: 7px;
	}
}

/* tabs */
.tabs{
	padding: 23px 0;
}
.box-tabs{
	position: relative;
	left: 2px;
	&__toggle{
		position: relative;
		height: 50px;
	}
	&__slider{
		position: relative;
		width: 100%;
		height: auto;
		max-height: 332px;
		padding: 15px 30px;
		border: 1px solid #689cbe;
		border-radius: 5px;
		z-index: 0;
		overflow: hidden;
	}
	.overflow-wrap{
		width: 2250px;
		margin-left: 0;
		transition: margin-left 0.6s ease;
	}
}
.box-tads__input:nth-child(1):checked ~ .box-tabs__slider{
	border-top-left-radius: 0;
}
.toggle__item{
	position: relative;
	display: inline-block;
	padding: 14px 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
	color: $link-color;
	font-size: 18px;
	font-weight: 900;
	font-style: italic;
	line-height: 18px;
	letter-spacing: -0.4px;
	&:nth-child(2),
	&:nth-child(3){
		margin-left: 10px;
	}
	& .js-tabs{
		border-bottom: 1px dashed $link-color;
		cursor: pointer;
	}
	&.active{
		position: relative;
		color: $link-hover;
		font-size: 20px;
		margin-left: 0;
		padding: 14px 37px 18px 30px;
		border: 1px solid #689cbe;
		border-bottom: none;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: #ffffff;
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
		z-index: 11;
		& .js-tabs{
			border: none;
			cursor: default;
		}
	}
}
.btn-tabs{
	position: absolute;
	display: none;
	top: 13px;
	right: 10px;
	width: 30px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #a9a9a9;
	background-color: #ffffff;
	z-index: 999;
	cursor: pointer;
	& span{
		position: relative;
		display: block;
		margin: 10px auto 0;
		width: 17px;
		height: 3px;
		background-color: #a9a9a9;
		&::before,
		&::after{
			content: '';
			position: absolute;
			top: -6px;
			display: block;
			width: 17px;
			height: 3px;
			background-color: #a9a9a9;
		}
		&::after{
			top: 6px;
		}
	}
}
.slider{
	&__button{
		position: absolute;
		top: 6px;
		right: 80px;
	}
	&__control{
		position: absolute;
		top: 45px;
		width: 50px;
		height: 85%;
		z-index: 49;
		&--left{
			left: 0px;
			background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* ff3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(40%, rgba(255,255,255,0.9)), color-stop(65%, rgba(255,255,255,0.65)), color-stop(100%, rgba(255,255,255,0))); /* safari4+,chrome */
			background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
			background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
			background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* ie10+ */
			background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
		}
		&--right{
			right: 0px;
			background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* ff3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(35%, rgba(255,255,255,0.65)), color-stop(60%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
			background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
			background: -o-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
			background: -ms-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* ie10+ */
			background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 35%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%); /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
		}
		.arrow-left,
		.arrow-right{
			position: absolute;
			top: 50px;
			display: block;
			width: 23px;
			height: 55px;
			z-index: 99;
			&:hover{
				cursor: pointer;
			}
		}
		.arrow-left{
			left: 7px;
			background: url(../img/slider-product/sprite_slider.png) -38px -5px no-repeat;
		}
		.arrow-right{
			right: 7px;
			background: url(../img/slider-product/sprite_slider.png)  -104px -5px no-repeat;
		}
		.arrow-left.active{
			background: url(../img/slider-product/sprite_slider.png) -5px -5px no-repeat;
		}
		.arrow-right.active{
			background: url(../img/slider-product/sprite_slider.png) -71px -5px no-repeat;
		}
	}
}

.product-box{
	position: relative;
	display: inline-block;
	float: left;
	width: 225px;
	margin: 30px 0 10px;
	padding: 20px 25px 0 30px;
	line-height: 18px;
	&.super-gift{
		.product-box__old-price{
			display: none;
		}
	}
	&.super-price,
	&.super-discount{
		.product-box__gift{
			display: none;
		}
	}
	&.super-gift::before,
	&.super-price::before,
	&.super-discount::before{
		content: '';
		position: absolute;
		top: 5px;
		left: 25px;
		width: 70px;
		height: 40px;
		background-repeat: no-repeat;
		background-image: url(../img/slider-product/sprite_supers.png);
	}
	&.super-gift::before{
		background-position: -140px 0;
	}
	&.super-price::before{
		background-position: -70px 0;
	}
	&.super-discount::before{
		background-position: 0 0;
	}
	&__img{
		height: 100px;
		margin-bottom: 15px;
		//transform: scale(1.10);
	}
	&__options{
		color: $link-hover;
	}
	&__link{
		margin: 5px 0px;
	}
	&__old-price{
		color: #999999;
		font-weight: 700;
		font-size: 15px;
		text-decoration: line-through;
		text-decoration-color: $link-hover;
		& span{
			font-size: 13px;
		}
	}
	.button{
		padding: 4px 5px 2px 10px;
		& span:nth-child(1){
			border: none;
		} 
	}
	&__buy-button{
		margin: 2px 0px 2px -8px;
		color: #333333;
		font-style: italic;
		font-size: 18px;
		font-weight: 900;
		.buy-button__price b{
			font-style: normal;
			font-size: 13px;
			font-weight: 700;
		}
		.buy-button__icon{
			width: 17px;
			height: 18px;
			margin-right: 7px;
			background: url(../img/slider-product/sprite_slider.png) -137px -5px no-repeat;
		}
	}
	&__usd-price{
		color: #5c9559;
		font-size: 11px;
	}
	&__gift{
		position: absolute;
		top: 0;
		right: 20px;
		padding: 5px;
		border: 1px solid $link-hover;
		border-radius: 3px;
		background-color: #ffffff;
		&::before,
		&::after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
		}
		&::before{
			border: 9px solid transparent;
			border-right-color: $link-hover;
			top: 25px;
			left: -18px;
		}
		&::after{
			border: 8px solid transparent;
			border-right-color: #ffffff;
			left: -15.5px;
			top: 26px;
		}
		.gift__img{
			width: 50px;
			display: block;
		}
	}
}

#bestSellers,
#newProduct{
	.product-box{
		&__buy-button{
			margin: 10px 0px 5px -8px;
		}
	}
}


/* brands */
.brands{
	padding: 20px 0;
}
.box-head{
	position: relative;
	padding-bottom: 10px;
	&__title{
		padding-left: 5px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
		font-size: 15px;
		font-weight: 700;
		font-style: italic;
		line-height: 18px;
		letter-spacing: -0.15px;
	}
	&__button{
		margin: -3px 100px 0 0;
		padding: 3px 5px 3px 10px;
		float: right;
	}
}

.box-logo .col-xs-12 .row:first-child .box-logo__item{
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		width: 97%;
		height: 1px;
		background-color: #ddd;
	}
	&::after{
		content: '';
		position: absolute;
		display: none;
		top: 5px;
		right: 0;
		width: 1px;
		height: 116px;
		background: url(../img/img-separator.png) no-repeat;
	}
}
.box-logo .col-xs-12 .row:first-child .box-logo__item:first-child,
.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(3),{
	&::before{
		right: 0;
	}
	&::after{
		display: block;
	}
}
.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(2),
.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(4){
	&::before{
		left: 0;
	}
}
.box-logo{
	&__item{
		position: relative;
		width: 25%;
		height: 64px;
		text-align: center;
		float: left;
		font-size: 48px;
		& .sprite{
			transition: all 0.5s linear;
		}
		&:hover{
			& .sprite{
				transition: all 0.5s linear;
				transform: scale(1.1);
			}
		}
	}
}
.sprite{
	background-image: url(../img/sprit_brand.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.sprite-img-mfr_1 {
	width: 73px;
	height: 38px;
	background-position: -5px -5px;
}
.sprite-img-mfr_2 {
	width: 93px;
	height: 18px;
	background-position: -5px -278px;
}
.sprite-img-mfr_3 {
	width: 35px;
	height: 43px;
	background-position: -5px -306px;
}
.sprite-img-mfr_4 {
	width: 93px;
	height: 16px;
	background-position: -5px -359px;
}
.sprite-img-mfr_5 {
	width: 67px;
	height: 27px;
	background-position: -5px -385px;
}
.sprite-img-mfr_6 {
	width: 57px;
	height: 23px;
	background-position: -5px -422px;
}
.sprite-img-mfr_7 {
	width: 52px;
	height: 36px;
	background-position: -5px -455px;
}
.sprite-img-mfr_8 {
	width: 77px;
	height: 26px;
	background-position: -5px -501px;
}
.sprite-img-mfr_9 {
	width: 54px;
	height: 28px;
	background-position: -5px -537px;
}
.sprite-img-mfr_10 {
	width: 105px;
	height: 23px;
	background-position: -5px -53px;
}
.sprite-img-mfr_11 {
	width: 73px;
	height: 16px;
	background-position: -5px -86px;
}
.sprite-img-mfr_12 {
	width: 79px;
	height: 27px;
	background-position: -5px -112px;

}
.sprite-img-mfr_13 {
	width: 103px;
	height: 27px;
	background-position: -5px -149px;
}
.sprite-img-mfr_14 {
	width: 80px;
	height: 17px;
	background-position: -5px -186px;
}
.sprite-img-mfr_15 {
	width: 54px;
	height: 15px;
	background-position: -5px -213px;
}
.sprite-img-mfr_16 {
	width: 112px;
	height: 30px;
	background-position: -5px -238px;
}
.box-link{
	padding: 30px 0 35px;
	border-bottom: 1px solid #e6e6e6;
}
.box-link-list{
	padding-left: 15px;
	&__item{
		font-size: 11px;
		font-weight: 400;
		line-height: 20px;
		& a:hover{
			color: $link-hover;
		}
	}
}

/* reviews */
.review{
	padding: 13px 0;
	.box-head__title{
		font-size: 20px;
		font-weight: 900;
		padding-left: 2px;
		letter-spacing: -0.4px;
	}
	.box-head__button{
		margin: -5px 62px 0 0;
		padding-right: 10px;
	}
	&-box{
		padding: 12px 0 32px 0;
		&__item{
			padding: 0 5px;
			&:hover{
				.review-box__item--img{
					transition: all 1s linear;
					transform: scale(1.1);
				}
			}
		}
		&__item--img{
			transition: all 0.5s linear;
		}
		&__item--text{
			& h3{
				font-size: 15px;
				font-weight: 400;
				line-height: 20px;
				padding: 15px 10px 10px 0;
				&:hover a{
					color: $link-hover;
				}
			}
			& p{
				line-height: 20px;
				padding-right: 20px;
			}
		}
	}
}
.box-separator{
	display: block;
	border-bottom: 4px solid #175b8e;
	width: 100%;
	height: 54px;
	background: url(../img/reviews/img-reviews_separator.png) center no-repeat;
}


/* media content */
@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 1169px) {
	.descript{
		width: 60%;
		&__text{
			padding-right: 80px;
		}
	}
}

@media screen and (max-width: 1130px) {
	.img__item{
		background-position: bottom;
		&:nth-child(1){
		background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(2){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(3){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(4){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(5){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
	}
	.descript-box{
		width: 60%;
	}
}

@media screen and (max-width: 1040px) {
	.descript{
		width: 65%;
		&__text{
			padding-right: 95px;
		}
	}
	.box-logo .col-xs-12 .row:first-child .box-logo__item:first-child::after, 
	.box-logo .col-xs-12 .row:first-child .box-logo__item:nth-child(3)::after{
		right: -8px;
	}
	.box-logo .col-xs-12 .row:first-child .box-logo__item::before{
		width: 100%;
	}
	.box-logo .col-xs-12 .row:first-child .box-logo__item::after{
		display: block;
	}
}

@media screen and (max-width: 991px) {
	.descript{
		width: 48%;
	}
	.img__item{
		background-position: top;
		&:nth-child(1){
		background-image: url(../img/promp-shares/img-promo_1.jpg);
		}
		&:nth-child(2){
			background-image: url(../img/promp-shares/img-promo_1.jpg);
		}
		&:nth-child(3){
			background-image: url(../img/promp-shares/img-promo_1.jpg);
		}
		&:nth-child(4){
			background-image: url(../img/promp-shares/img-promo_1.jpg);
		}
		&:nth-child(5){
			background-image: url(../img/promp-shares/img-promo_1.jpg);
		}
	}
	.box-shares{
		margin-top: 45px;
		&__title{
			margin-left: 2px;
		}
		&-list{
			margin-left: 2px;
			&__item p{
				margin-top: 7px;
			}
		}
		&__button{
			margin: 5px 0 0 7px;
		}
	}
	.box-tabs__toggle .toggle__item{
		display: none;
	}
	.box-tabs__toggle .toggle__item.active{
		display: inline-block;
		padding-left: 10px;
		padding-right: 57px;
	}
	.slider__button{
		top: 10px;
		right: 15px;
	}
	.box-head__button,
	.review .box-head__button{
		margin-right: 15px;
	}
	.btn-tabs{
		display: block;
	}
	.toggle__item span.js-tabs{
		cursor: default;
	}
	.box-logo .col-xs-12 .row .box-logo__item:last-child::after{
		display: none;
	}
	.box-link-list__item{
		font-size: 13px;
		line-height: 22px;
	}
	.review-box__item--img,
	.review-box__item--text{
		display: inline-block;
		vertical-align: top;
	}
	.review-box{
		padding-bottom: 20px;
		&__item{
			padding-top: 25px;
		}
		&__item--text{
			width: 78%;
			padding-left: 30px;
		}
	}
}

@media screen and (max-width: 886px) {
	.descript{
		width: 55%;
		&__text{
			padding-right: 80px;
		}
	}
}

@media screen and (max-width: 767px) {
	.content{
		margin-top: -22px;
	}
	.img__item{
		background-position: center;
		&:nth-child(1){
		background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(2){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(3){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(4){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
		&:nth-child(5){
			background-image: url(../img/promp-shares/img-promo_1w704.jpg);
		}
	}
	.tabs{
		padding-top: 35px;
	}
	.descript{
		padding: 5px 0 0 33px;
	}
	.box-link{
		padding: 15px 0 40px;
		& .box-link-list:first-child{
			padding-left: 5px;
		}
		&-list__item{
			font-size: 15px;
			font-weight: 400;
			line-height: 26px;
		}
	}
	.review{
		padding-top: 18px;
		&-box{
			padding-top: 3px;
			&__item{
				padding-top: 0;
				padding-bottom: 20px;
			}
			&__item--text{
				padding-left: 20px;
				width: 70%;
			}
		}
	}
}

@media screen and (max-width: 745px) {
	.descript{
		width: 60%;
		&__text{
			padding-right: 65px;
		}
	}
}

@media screen and (max-width: 660px) {
	.descript{
		width: 70%;
		&__text{
			padding-right: 85px;
		}
	}
}

@media screen and (max-width: 600px) {
	.content{
		margin-top: -22px;
	}
}

@media screen and (max-width: 599px) {
	.box-link-list__item{
		font-size: 13px;
		line-height: 24px;
	}
}

@media screen and (max-width: 588px) {
	.img__item{
		background-position: bottom;
		&:nth-child(1){
			background-image: url(../img/promp-shares/img-promo_1w448.jpg);
		}
		&:nth-child(2){
			background-image: url(../img/promp-shares/img-promo_1w448.jpg);
		}
		&:nth-child(3){
			background-image: url(../img/promp-shares/img-promo_1w448.jpg);
		}
		&:nth-child(4){
			background-image: url(../img/promp-shares/img-promo_1w448.jpg);
		}
		&:nth-child(5){
			background-image: url(../img/promp-shares/img-promo_1w448.jpg);
		}
	}
	.descript{
		width: 100%;
		padding: 10px 15px 0 25px;
	}
}

@media screen and (max-width: 555px) {
	.box-logo__item .sprite{
		transform: scale(0.8);
	}
	.box-link-list__item{
		font-size: 11px;
	}
	.review-box__item--text{
		width: 57.5%;
		padding-left: 15px;
	}
}

@media screen and (max-width: 480px) {
	.descript{
		padding: 5px 10px 0 15px;
		&__text{
			padding-right: 65px;
		}
	}
}

