
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	padding: 7px 0 50px;
	width: 100%;
	& .row .col-md-3:nth-child(1){
		padding-left: 3px;
	}
	& .row .col-md-3:nth-child(2){
		padding-left: 3px;
	}
	& .row .col-md-3:nth-child(3){
		margin-top: -5px;
	}
	& .row .col-md-3:nth-child(3),
	& .row .col-md-3:nth-child(4){
		padding: 0 0 0 10px;
	}
}
.footer{
	&__copyright{
		padding-left: 3px;
		font-size: 15px;
		line-height: 18px;
	}
	&__nav{
		margin: 7px 0 34px;
	}
	&__address{
		line-height: 22px;
	}
	&__phone{
		font-size: 24px;
		line-height: 21px;
		& span{
			font-weight: 700;
		}
	}
	&__callback{
		display: inline-block;
		margin: 7px 0px 17px 0px;
		border-bottom: 1px dashed $link-color;
		text-decoration: none;
	}
	&__button{
		margin-left: -5px;
		padding-right: 11px;
		& span:first-child{
			font-size: 13px;
			font-weight: 400;
			line-height: 17px;
			letter-spacing: -0.2px;
			border-bottom: 1px dashed $link-color;
		} 
	}
	&__condition{
		display: block;
		margin-top: 35px;
	}
	&__time-work{
		& p{
			line-height: 22px;
			&:first-child{
				font-weight: 700;
			}
		}
	}
	&__payment{
		margin-top: 15px;
	}
	.nav-list__item{
		line-height: 20px;
		padding: 0 6px;
		&:nth-child(6) a{
			padding-left: 0;
			&::before{
				content: none;
			}
		}
		&:nth-child(4) a{
			padding-left: 16px;
			&::before{
				content: '';
				position: absolute;
				top: 2px;
				left: 4px;
				width: 15px;
				height: 15px;
				background: url(../img/header/sprite_header.png) -76px -5px no-repeat;
				cursor: pointer;
			}
		}
	}
}
.box-owox{
	&__text,
	&__year{
		font-size: 11px;
		line-height: 15px;
	}
	&__text{
		color: #4e4e4e;
		& a{
			color: #0066aa;
		}
	}
	&__year{
		color: #999999;
	}
}
.payment-list{
	&__item{
		margin-right: 5px;
		display: inline-block;
		float: left;
	}
}
.payment-icon {
    background-image: url(../img/footer/sprite_payment.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    &--mc{
    	width: 47px;
	    background-position: -5px -5px;
    }
    &--visa{
    	width: 66px;
	    background-position: -62px -5px;
    }
    &--wm{
    	width: 101px;
	    background-position: -138px -5px;
    }
}

.social-icon{
	background-image: url(../img/footer/sprite_social.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 20px;
    &--fb{
		background-position: 0 0;
    }
    &--vk{
    	background-position: 0 -32px;
    }
    &--tw{
		background-position: 0 -64px;
    }
}
.social-list__item{
	& a{
		text-decoration: none;
	}
	& a span{
		text-decoration: underline;
	}
}
.box-owox{
	&::before{
		content: '';
		position: absolute;
		top: -50px;
		left: -20px;
		width: 1px;
		height: 192px;
		background: url(../img/footer/img-footer_separator.png) center no-repeat;
	}
}

@media screen and (max-width: 1050px) {
	.box-owox::before{
		left: -10px;
	}
}

@media screen and (max-width: 991px) {
	footer{
		& .row .col-md-3:nth-child(3),
		& .row .col-md-3:nth-child(4){
			padding: 0;
		}
	}
	.footer{
		&__nav{
			margin-bottom: 15px;
		}
		&__button{
			margin-left: 0;
		}
		&__condition{
			margin-top: 15px;
		}
		&__payment{
			margin-top: 25px;
		}
		&__social{
			text-align: center;
		}
	}
	.social-list{
		display: inline-block;
		margin: 35px 0 25px 0;
		&__item{
			margin-right: 35px;
			display: inline-block;
			float: left;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.box-owox{
		padding-top: 25px;
		border-top: 1px solid #e7e6e6;
		text-align: center;
		&::before{
			content: none;
		}
	}
	.logo-owox,
	.box-owox__text{
		display: inline-block;
	}
	.logo-owox{
		padding: 14px;
	}
	.box-owox__text{
		text-align: left;
	}
}

@media screen and (max-width: 555px) {
	.social-list{
		margin-top: 20px;
		&__item a span:last-child{
			display: none;
		}
	}
}
@media screen and (max-width: 500px) {
	footer{
		.col-xs-6{
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
		}
	}
	.payment-list{
		margin-top: 10px;
		text-align: center;
		&__item{
			float: none;
		}
	}
	.social-list{
		margin-top: 20px;
	}
}