/*
================================================================================
|                                     main styles                              |
================================================================================
*/
.main-wrapper{
	padding: 0;
	min-width: $min-width;
	//max-width: $max-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	//padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	//padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	//padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	//padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}

/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{
	background:url(../img/loader.gif) no-repeat left top;
	width:40px;
	height:40px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-20px;
	margin-left:-20px;
	display:none;
}
.loaded .icon-load{display:block;}

.hidden{
	display: none;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{ 
	text-align: left;
	margin: 0 auto;
	padding: 6px 0 45px;
	background-color: #fff;
	@include gradient-4(top, bottom, #fff, #fff, rgba(233,233,233,1), #fff);
	.box-field{
		position: relative;
		margin-top: 15px;
		&--skew{
			@include skew(-20deg);
		}
		&__input{
			display: inline-block;
			vertical-align: top;
			border-radius: 5px 0;
			
		}
		&__input:nth-child(1){
			width: 312px;
			border: 1px solid #c4c4c4;
			box-shadow: inset 1px 2px 0 rgba(4, 5, 5, 0.08);
		}
		&__input:nth-child(2){
			position: absolute;
			top: 3px;
			left: 264px;
			width: 45px;
			height: 19px;
			border: 1px solid #e4e4e4;
			background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
		}
	}
	input[type=search]{
		width: 100%;
		height: 23px;
		padding: 0 60px 0 7px;
		font-size: 15px;
		font-style: italic;
		line-height: 81px;
		background-color: transparent;
		border: none;
		@include skew(20deg);
	}
	.label-subm{
		position: absolute;
		top: 4px;
		left: 12px;
		background-position: center;
		width: 19px;
    	height: 12px;
		background-color: transparent;
		background: url(../img/header/sprite_header.png) -76px -30px no-repeat;
		@include skew(20deg);
		&:hover{
			cursor: pointer;
		}
	}
	
}
.button{
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.2px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #e4e4e4;
	border-radius: 5px 0;
	background-color: #ffffff;
	background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
	text-decoration: none;
	@include skew(-20deg);
	& span{
		display: inline-block;
		vertical-align: top;
		@include skew(20deg);
	}
	& span:nth-child(1){
		margin-top: -1px;
		border-bottom: 1px solid $link-color;
		text-decoration: none;
	}
	& span:nth-child(2){
		font-size: 22px;
	}
	&:hover{
		cursor: pointer;
		box-shadow: 3px 3px 3px 0px #689cbe;
		& span:nth-child(1){
			border-bottom: 1px dashed transparent;
		}
	}
}

.header{
	&__logo{
		padding-left: 3px;
	}
	&__search-phone{
		padding: 13px 0 0 35px;
	}
	&__phone{
		padding-left: 12px;
		font-size: 23px;
		font-weight: 400;
		font-style: italic;
		line-height: 21px;
		letter-spacing: -0.6px;
		& span b{
			font-size: 34px;
		}
		& a{
			position: relative;
			top: -16px;
			margin-left: 6px;
			font-size: 13px;
			letter-spacing: -0.4px;
			border-bottom: 1px dashed $link-color;
			text-decoration: none;
		}
	}
	&__support{
		margin-left: -15px;
		padding: 3px 0 0 0;
	}
	&__basket-login{
		padding: 7px 2px 0 0;
		text-align: right;
		float: right;
		.login{
			letter-spacing: -0.05px;
			& a{
				position: relative;
				border-bottom: 1px dashed $link-color;
				text-decoration: none;
				&::before{
					content: '';
					position: absolute;
					top: -3px;
					left: -23px;
					width: 19px;
					height: 18px; 
					background: url(../img/header/sprite_header.png) -5px -53px no-repeat;
				}
			}
		}
		
	}
}
.support-button{
	position: relative;
	display: block;
	width: 87px;
	height: 88px;
	border-radius: 5px;
	border: 1px solid #6cbe68;
	background-color: #ffffff;
	background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 42%, #ffffff 100%);
	color: #333;
	line-height: 14px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	padding-top: 55px;
	&:hover{
		box-shadow: 0 0 7px 1px #6cbe68;
	}
	&::before{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 9px;
		height: 9px;
		background: url(../img/header/sprite_header.png) -5px -30px no-repeat;
	}
	& img{
		display: block;
		position: absolute;
		top: -6px;
	}
}
.anim-blink{
	animation: blink 4s linear infinite;
}
.basket-button{
	position: relative;
	display: block;
	float: right;
	width: 209px;
	height: 56px;
	margin-top: 15px;
	padding: 16px 38px 0 0;
	border-radius: 2px;
	border: 1px solid #cecdcd;
	background-color: #fff;
	text-decoration: none;
	&__icon{
		position: absolute;
		top: 7px;
		left: 16px;
		display: inline-block;
		width: 38px;
		height: 38px;
		background: url(../img/header/sprite_header.png) -28px -5px no-repeat;
		z-index: 1;
		&::before{
			content: '';
			position: absolute;
			top: -2px;
			left: 13px;
			width: 19px;
			height: 19px;
			border: 1px solid #cecdcd;
			border-radius: 50%;
			background-color: #175b8e;
			background-image: linear-gradient(to top, #f6f6f6 0%, #d7d6d6 11%, #dbdbdb 26%, #ffffff 100%);
		}
	}
	&__count{
		position: absolute;
		top: 6px;
		left: 33px;
		font-size: 18px;
		font-weight: 900;
		font-style: normal;
		line-height: 18px;
		color: $link-hover;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
		z-index: 2;
	}
	&__text{
		font-size: 23px;
		font-weight: 900;
		font-style: italic;
		line-height: 18px;
		letter-spacing: -0.4px;
		text-decoration: underline;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
		vertical-align: top;
		&::before{
			content: '';
			position: absolute;
			top: 23px;
			right: 12px;
			width: 13px;
			height: 11px;
			background: url(../img/header/sprite_header.png) -5px -5px no-repeat;
		}
	}
}

/* nav */
.nav{
	margin-top: 15px;
}
.nav-list__item{
	position: relative;
	display: inline-block;
	padding: 0 6px 0 3px;
	&:nth-child(6) a{
		padding-left: 16px;
		&::before{
			content: '';
			position: absolute;
			top: -1px;
			left: 1px;
			width: 15px;
			height: 15px;
			background: url(../img/header/sprite_header.png) -76px -5px no-repeat;
			cursor: pointer;
		}
	}
}

/* style placeholder */
input::-webkit-input-placeholder       {color: #999;}
input::-moz-placeholder                {color: #999;}
input:-moz-placeholder                 {color: #999;}
input:-ms-input-placeholder            {color: #999;}

/* media header */
@media screen and (max-width: 1100px) {
	.header{
		&__support{
			padding-left: 38px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.header{
		&__basket-login{
			padding-right: 4px;
		}
		&__support{
			padding-left: 78px;
		}
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	.header{
		&__search-phone{
			padding-left: 75px;
		}
		&__support{
			display: none;
		}
		&__basket-login{
			padding: 12px 0 0 0;
			& .login{
				text-align: center;
				& span:last-child{
					display: none;
				}
			} 
		}
	}
	.basket-button{
		margin-top: 10px;
		transform: scale(0.85) translateX(15px);
	}
	.nav-list__item{
		padding: 0 2px 0 3px;
	}
}

@media screen and (max-width: 767px) {
	header{
		padding: 0 0 22px;
		.box-field__input:nth-child(1){
			width: 232px;
		}
		.box-field__input:nth-child(2){
			left: 184px;
		}
		.wrapper{
		padding: 0 5px;
	}
	}
	.wrapper{
		padding: 0 7px;
	}
	.nav{
		display: none;
	}
	.header{
		&__logo{
			padding-left: 0;
			margin-left: -14px;
			transform: scale(0.713);
		}
		&__search-phone{
			padding: 15px 0 0 28px;
		}
		&__phone{
			font-size: 20px;
			line-height: 10px;
			& span b{
				font-size: 20px;
				font-weight: 400;
			}
			& a{
				top: -5px;
			}
		}
	}
	.box-form{
		padding-left: 10px;
	}
	.login{
		padding-left: 20%;
	}
	.basket-button{
		margin-top: -2px;
		transform: scale(0.558) translateX(68px);
	}
}
@media screen and (max-width: 600px) {
	.login{
		padding-left: 0px;
	}
}
@media screen and (max-width: 588px) {
	.header__phone{
		text-align: center;
		padding-top: 5px;
		& a{
			display: inline-block;
			margin-top: 20px;
		} 
	}
	.box-form{
		display: none;
	}
}
