/*
================================================================================
|                                     MENU                                     |
================================================================================
*/
.menu{
	position: relative;
	top: -25px;
	padding-bottom: 10px;
	max-height: 66px;
}
.menu-list{
	width: 100%;
	height: 56px;
	border-radius: 5px;
	border: 1px solid #246188;
	background-color: #0c5d92;
	background-image: linear-gradient(to top, #5497c3 0%, #5497c3 0%, #0e639a 5%, #044977 16%, #0c5c8f 60%, #186ca3 97%, #7dafcf 100%);
	&__item{
		position: relative;
		display: inline-block;
		width: 16.6666667%;
		border-right: 2px groove #337aa8;
		float: left;
		z-index: 9;
		&:last-child{
			border: none;
		}
		&:hover{
			box-shadow: 5px 0px 10px #050606;
		}
		&:hover .menu-list__link{
			color: #105a8f;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-color: #ffffff;
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(185, 185, 185, 0.3) 40%, rgba(245, 244, 244, 0.3) 95%, #ffffff 100%);
			box-shadow: 0 10px 0 0 #ffffff, 0 0 0 5px #689cbe;
			text-decoration: underline;
			margin-bottom: 5px;
			&::before{
				background: url(../img/header/sprite_header.png) -5px -5px no-repeat;
			}
		}
		&:hover .drop-menu{
			display: block;
		}
		&:nth-child(1):hover .drop-menu{
			border-top-left-radius: 0px;
			left: -5px;
		}
		&:nth-child(2):hover .drop-menu{
			left: -102%;
		}
		&:nth-child(3):hover .drop-menu{
			left: -203%;
		}
		&:nth-child(4):hover,
		&:nth-child(5):hover,
		&:nth-child(6):hover{
			box-shadow: -5px 0px 10px rgba(5, 6, 6, 0.5);
		}
		&:nth-child(4):hover .drop-menu,
		&:nth-child(5):hover .drop-menu,
		&:nth-child(6):hover .drop-menu{
			box-shadow: -5px 9px 10px rgba(5, 6, 6, 0.5);
		}

		&:nth-child(4):hover .drop-menu{
			right: -203%;
		}
		&:nth-child(5):hover .drop-menu{
			right: -102%;
		}
		&:nth-child(6):hover .drop-menu{
			right: -5px;
			border-top-right-radius: 0px;
		}
		&--mobile{
			display: none;
			vertical-align: top;
			padding: 4px 10px;
			&:last-child{
				float: right;
			}
		}
	}
	&__link{
		position: relative;
		display: block;
		padding: 8px 35px 8px 20px;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		line-height: 18px;
		letter-spacing: 0.4px;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
		transition: none;
		z-index: 11;
		&::before{
			content: '';
			position: absolute;
			top: 21px;
			right: 10px;
			width: 13px;
			height: 11px;
			background: url(../img/header/sprite_header.png) -34px -53px no-repeat;
		}
		&:hover ~ .drop-menu{
			display: block;
		}
	}
	&__button{
		position: relative;
		display: inline-block;
		width: 30px;
		height: 25px;
		border-radius: 3px;
		border: 1px solid #0c4871;
		background-color: #ffffff;
		z-index: 99;
		& span{
			position: relative;
			display: block;
			width: 17px;
			height: 3px;
			background-color: #a9a9a9;
			margin: 10px 5px;
			&::before,
			&::after{
				content: '';
				position: absolute;
				width: 17px;
				height: 3px;
				background-color: #a9a9a9;
			}
			&::before{
				top: -5px;
			}
			&::after{
				top: 5px;
			}
		}
		&.active{
			& span{
				background-color: transparent;
				&::before,
				&::after{
					left: -5px;
				}
				&::before{
					transform: rotate(45deg) translateX(7px);
				}
				&::after{
					transform: rotate(-45deg) translateX(7px);
				}
			}
		}
	}
}
.drop-menu{
	display: none;
	position: absolute;
	top: 56px;
	width: 855px;
	height: 310px;
	padding: 16px 40px;
	box-shadow: 5px 9px 10px rgba(5, 6, 6, 0.5);
	border-radius: 5px;
	border: 5px solid #689cbe;
	background-color: #ffffff;
	z-index: 10;
	&__column{
		display: block;
		vertical-align: top;
		float: left;
		width: 25%;
		padding: 0 0 0 27px;
		&:nth-child(2){
			margin-left: 11px;
		}
		&:last-child{
			margin-left: -11px;
			padding: 0 27px 0 27px;
		}
	}
}
.column-title a{
	color: #333333;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}
.column-list{
	margin-top: 10px;
	&__item a{
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		&:hover{
			color: #d10000;
		}
	}

}
#menu-select{
	width: 300px;
	height: 25px;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

/* media menu */
@media screen and (max-width: 1100px) {
	.menu-list__link{
		padding: 8px 15px 8px 10px;
	}
}
@media screen and (max-width: 1000px) {
	.drop-menu{
		&__column:nth-child(2){
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 991px) {
	.menu-list{
		height: 36px;
		&__link{
			display: none;
		}
		&__item{
			position: static;
			&:nth-child(1):hover .drop-menu,
			&:nth-child(2):hover .drop-menu,
			&:nth-child(3):hover .drop-menu,
			&:nth-child(4):hover .drop-menu,
			&:nth-child(5):hover .drop-menu,
			&:nth-child(6):hover .drop-menu{
				top: -8px;
				left: 15px;
				box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5);
			}
		}
		&__item--mobile{
			display: inline-block;
		}
	}
	.drop-menu{
		top: -8px;
		left: 15px;
		width: 97%;
		padding: 16px;
		box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5);
	}
}

@media screen and (max-width: 850px) {
	.drop-menu{
		width: 96.5%;
	}
}
@media screen and (max-width: 767px) {
	.menu-list__item{
		&:nth-child(1):hover .drop-menu,
		&:nth-child(2):hover .drop-menu,
		&:nth-child(3):hover .drop-menu,
		&:nth-child(4):hover .drop-menu,
		&:nth-child(5):hover .drop-menu,
		&:nth-child(6):hover .drop-menu{
			top: -5px;
			left: 7px;
			box-shadow: 0px 9px 10px rgba(5, 6, 6, 0.5);
		}
	}
	.drop-menu{
		top: -5px;
		left: 7px;
		width: 98.1333%;
	}
}
@media screen and (max-width: 670px) {
	.drop-menu{
		left: 7px;
		width: 97.8333%;
		&__column{
			padding-left: 12px;
		}
	}
}
@media screen and (max-width: 600px) {
	.drop-menu{
		width: 97.5999%;
	}

}
