@font-face {
    font-family:'Century Gothic';
    src: url('../fonts/Century Gothic/Century Gothic.eot');
	src: url('../fonts/Century Gothic/Century Gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/Century Gothic/Century Gothic.woff') format('woff'), url('../fonts/Century Gothic/Century Gothic.ttf') format('truetype'), url('../fonts/Century Gothic/Century Gothic.otf') format('opentype'), url('../fonts/Century Gothic/Century Gothic.svg#Century Gothic') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

@font-face {
    font-family:'Arial Narrow';
    src: url('../fonts/Arial Narrow/Arial Narrow Bold.eot');
	src: url('../fonts/Arial Narrow/Arial Narrow Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Arial Narrow/Arial Narrow Bold.woff') format('woff'), url('../fonts/Arial Narrow/Arial Narrow Bold.ttf') format('truetype'), url('../fonts/Arial Narrow/Arial Narrow Bold.otf') format('opentype'), url('../fonts/Arial Narrow/Arial Narrow Bold.svg#Arial Narrow Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0020-F003;
}
